body{
    background-color: skyblue;
}
body > h2{
    text-align: center;
}
.titulos{
    background-color: blue;
    color: white;
    border-radius: 5px;
    text-align: center;
}
.titulos > h1{
    padding-top: 10px;
}
.titulos > h4{
    padding-bottom: 10px;
}
#resultados > h4{
    text-align: center;
}
#resultados > h2{
    text-align: center;
}
